<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardin Burbuja de Algodon</title>
    <link rel="shortcut icon" href="assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body id="app">


    <!-- Nav -->

    <nav class="navbar  navbar-expand-lg bg-body-tertiary p-5 bg-light-subtle">
        <div class="container-fluid style_bar">
          <div class="contenedor_logo_nav">
            <img src="assets/img/logo-png.png" class="ms-5"  style="height: 100px;" alt="">  
            <a class="navbar-brand ms-5" href="#">Burbujas de algodon</a>
            <button class="navbar-toggler buton_style" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse ms-5 contenedor_enlaces" id="navbarNav">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link ms-5" href="#box_historia">Historia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-5" href="#box_servicios">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-5" href="#box_contacto">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-5" href="#box_ubicacion">Ubicacion</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      <!-- Header -->

      <header>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" >
            <div class="carousel-item active">
                <img src="assets/img/foto2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/foto6.jpg" class="d-block w-100" alt="...">
            </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>

    <main>

        <h1>Jardin Burbuja de algodon</h1>

        <!-- Seccion 1 Historia -->

        <div class="box1" id="box_historia">
            <div class="caja_historia">
                <div class="historia" data-aos="fade-up">
                    <h3>Nuestra historia</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facilis ipsa porro suscipit 
                       beatae cumque nobis? Sequi temporibus perspiciatis esse optio sunt deleniti corrupti. 
                        Officiis dolore aliquid reiciendis deleniti voluptatibus.</p>
                    <ul>
                        <li><a href="mailto:burbujasalgodo@mail.com">burbujasalgodo@mail.com</a></li>
                        <li>15 3234 5434</li>
                        <li><a href="#">facebook/burbujaalgodon</a></li>
                        <li><a href="#">instagram/burbujaalgodon</a> </li>
                    </ul>
                </div>
                <div data-aos="fade-down">
                    <img src="assets/img/foto4.jpg" style="height: 250px; width: 450px;" class="style_img" alt="">
                </div>
            </div>
        </div>
        
        
        <!-- Seccion 2 servicios -->

        <div class="caja_servicio" id="box_servicios">
          


          <div class="servicios" data-aos="fade-up" data-aos-duration="1000">
              <img src="assets/img/foto7.jfif" style=" height: 200px" alt="">
              <h4>Guarderia</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo doloribus quod explicabo porro      
                  maiores earum delectus inventore. Magnam temporibus repellat eius repudiandae delectus. Voluptatum 
                   at adipisci magni beatae voluptatibus sint?</p>
          </div>

          <div class="servicios" data-aos="fade-up" data-aos-duration="1000">
            <img src="assets/img/foto5.jpg" style=" height: 200px" alt="">
            <h4>Actividades</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo doloribus quod explicabo porro      
                maiores earum delectus inventore. Magnam temporibus repellat eius repudiandae delectus. Voluptatum 
                 at adipisci magni beatae voluptatibus sint?</p>
          </div>

          <div class="servicios" data-aos="fade-up" data-aos-duration="1000">
            <img src="assets/img/foto1.jfif" style=" height: 200px" alt="">
            <h4>Aprendizaje</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo doloribus quod explicabo porro      
                maiores earum delectus inventore. Magnam temporibus repellat eius repudiandae delectus. Voluptatum 
                at adipisci magni beatae voluptatibus sint?</p>
          </div>

        </div>


        <!-- Seccion 3 contacto -->

        <div class="caja_contacto" id="box_contacto">

             <h2>Contacto</h2>
          <div class="box_ayuda" data-aos="fade-up" data-aos-duration="1000">
            <div class="contacto">
                <div class="box_img_contacto">
              <!--     <img src="assets/img/logo.png" style="height: 200px;" alt=""> -->
                </div>
                <div>
                  <form action="">
                    <label for="">
                      <input type="text" class="input_email_celu" placeholder="Nombre" v-model="nombre">
                    </label>
                  
                    <label for="">
                      <input type="text" class="input_email_celu" placeholder="Apellido" v-model="apellido">
                    </label>
                    <br>
                    <label for="">
                      <input class="input_email" type="number" placeholder="Tu telefono" v-model="numero">
                    </label>
                    <br>
                    <label for="">
                      <input class="input_email" type="email" placeholder="Email" v-model="email">
                    </label>
                    <br>
                    <input class="input_boton" type="button" value="Enviar" @click="sendEmail()">
                  </form>
                </div>
            </div>
          </div>
        </div>


        <!-- Seccion 4 Ubicacion -->

        <div class="caja_ubicacion" id="box_ubicacion">

          <h2>Ubicacion</h2>

          <div class="box_mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.213316086451!2d- 
              57.545311546850584!3d-38.01880617436237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc2f9602d291%3A0x7962252f3ccce98f!2sPlaza%20del%20Agua!5e0!3m2!1ses-419!2sar!4v1673985226914!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>


    </main>



    <!-- Footer -->

    <footer>
        
       <h5>Creador por: <a href="https://www.linkedin.com/in/martin-borzani-657927175/" target="_blank">Martin Borzani</a></h5> 
       
       <h5>Idea de:  <a href="https://idforideas.com/" target="_blank">IDforIdea</a> </h5>
       

    
    </footer>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/mail.js"></script>
   
    <script>
      AOS.init();
    </script>
</body>
</html>